<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZobmbieGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2762CE821EC62F1D002F5D42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2762CE961EC62F1E002F5D42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2762CEA11EC62F1E002F5D42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
